
<head>
    <!--
    <style>
    
    body {
        background-image: url(https://cdn.pastemagazine.com/www/articles/2020/07/02/airplane-big.jpg)
    }
    body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    }
    
    </style>
    -->
    <title>Homepage</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>


<body>
    <div class='header'>
        <h3>
        <a href='/'><img id="rmit-logo" src="{% static 'logo.png' %}" class='top-image' alt='RMIT logo' height='45'></a>
            <!-- <div style = "float: right"><input type="text" placeholder="Search.."></div> -->

        </h3>
        <h1>
        Homepage
        </h1>
    </div>


    <div class="my">
        <table class="table table-striped table-bordered" id="sortTable">
            <thead>
                <tr id="center">
                    <th>FileName</th>
                    <th>FilePath</th>
                    <th>LoadNumber</th>
                    <th>Equipment</th>
                    <th>RunRecipe</th>
                    <th>RunStart <br> <input class="browse-rowwidth" type="text" id="min4" name="min4"
                            placeholder="min"> <br> <input class="browse-rowwidth" type="text" id="max4"
                            name="max4" placeholder="max"></th>
                    <th>RunEnd <br> <input class="browse-rowwidth" type="text" id="min5" name="min5"
                            placeholder="min"> <br> <input class="browse-rowwidth" type="text" id="max5"
                            name="max5" placeholder="max"></th>
                    <th>RunDuration <br> <input class="browse-rowwidth" type="text" id="min6" name="min6"
                            placeholder="min"> <br> <input class="browse-rowwidth" type="text" id="max6"
                            name="max6" placeholder="max"></th>
                    <th>FileLength <br> <input class="browse-rowwidth" type="text" id="min7" name="min7"
                            placeholder="min"> <br> <input class="browse-rowwidth" type="text" id="max7"
                            name="max7" placeholder="max"></th>
                    <th>OperatorName</th>
                    <th>ExportControl</th>
                </tr>
            </thead>
            <tbody>


              {% for da in data %}
              <tr>
                <td><a href="{% url 'main:other' da.id %}">{{ da.FileName }}</a></td>
                <td>{{ da.FilePath }}</td>
                <td>{{ da.LoadNumber }}</td>
                <td>{{ da.Equipment }}</td>
                <td>{{ da.RunRecipe }}</td>
                <td>{{ da.RunStart }}</td>
                <td>{{ da.RunEnd }}</td>
                <td>{{ da.RunDuration }}</td>
                <td>{{ da.FileLength }}</td>
                <td>{{ da.OperatorName }}</td>
                <td>{{ da.ExportControl }}</td>
              </tr>
              {% endfor %}
            </tbody>
      </table>

      <script>
      $('#sortTable').DataTable();
      </script>

    </div>
</body>
